.countriesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-inline: 1rem;
  min-width: 400px;
}

.countriesGridItem {
  padding: 1rem;
  text-align: center;
  background-color: var(--color-dark--2);
  border-radius: 8px;
  min-width: 100px;
  border-left: 8px solid var(--color-brand--1);
}

.countriesGridItem a:global(.active) {
  border: 1px solid var(--color-brand--2);
}
