.sidebarPanelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  min-height: 100vh;
  gap: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebarPanelContainer::-webkit-scrollbar {
  display: none;
}

.nav {
  display: flex;

  margin-top: 3rem;
  margin-bottom: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  background-color: var(--color-dark--2);
  border-radius: 8px;
}

.nav a {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 8px;
}

.nav a:global(.active) {
  background-color: var(--color-dark--0);
}
